<div *ngIf="currentRecipe">

  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>

  <div class="row">

    <div class="col-xs-8">
      <h1>{{ currentRecipe.name }}</h1>
    </div>

    <div class="col-xs-4">
      <div class="btn-group" appDropdown>
        <button type="button" name="manageRecipeBtn" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onBtnToShoppingList()">to Shopping list</a></li>
          <li><a [routerLink]="['/recipes', 'edit', currentRecipe.id]" style="cursor: pointer;">Edit recipe</a></li>
          <li><a (click)="onDeleteRecipe(currentRecipe.id)" style="cursor: pointer;">Delete recipe</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <img [src]="currentRecipe.imagePath" alt="{{ currentRecipe.name }}" class="img-responsive" style="max-height: 200px;">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>{{ currentRecipe.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li class="list-group-item"
          *ngFor="let ingredient of currentRecipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>

</div>
